<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/admin/catalogs'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.tablaDescription}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalle de Catálogo</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    (click)="saveCatalog()">
                <span>Guardar</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tabla</mat-label>
                                    <input matInput
                                           name="idTabla"
                                           formControlName="idTabla"
                                           readonly>
                                </mat-form-field>
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Argumento</mat-label>
                                        <input matInput placeholder="Argumento"
                                                  name="tablaArgumento"
                                                  formControlName="tablaArgumento">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Descripción</mat-label>
                                        <input matInput placeholder="Descripción"
                                               name="tablaDescription"
                                               formControlName="tablaDescription">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="space-between">
                                    <mat-form-field appearance="outline" floatLabel="always" fxFlex="45">
                                        <mat-label>Referencia</mat-label>
                                        <input matInput placeholder="Referencia"
                                               name="tablaReferencia"
                                               formControlName="tablaReferencia">
                                    </mat-form-field>
                                    <mat-form-field  appearance="outline" fxFlex="45">
                                        <mat-label>Estado</mat-label>
                                        <mat-select  [placeholder]="'Seleccione ...'"
                                            formControlName="status">
                                            <mat-option *ngFor="let opt of options" [value]="opt.id">
                                                {{opt.desc}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
