nav-bar-left {
    #pixel-to-watch {
        position: absolute;
        width: 1px;
        height: 1px;
        top: 100px;
        left: 0;
    }
    .fixed{
        position: fixed!important;
        top: 30px;
    }
}



