<div class="main-content">
    <div class="discy-inner-content menu_sidebar">
        <div class="the-main-container">
            <main class="all-main-wrap discy-site-content float_l"
                  style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static;">
                    <router-outlet></router-outlet>
                </div>
                <aside-sidebar>
                </aside-sidebar>
            </main>
            <nav-bar-left>
            </nav-bar-left>
        </div>
    </div>
</div>
