<div id="faq" class="page-layout simple full-width">

    <!-- HEADER -->
    <div class="header accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

        <img class="mt-24 mb-24 w-100-p" src="assets/images/logos/viajero.png" style="max-width: 300px">

        <div class="search mat-elevation-z7" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon>search</mat-icon>
            <input [formControl]="searchControl" (keyup.enter)="findAnswers($event)" [matAutocomplete]="auto" placeholder="Buscar preguntas realizadas..." fxFlex>
            <mat-icon style="cursor: pointer" *ngIf="searchControl.value" (click)="clear()">close</mat-icon>

            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="findAnswers($event)">
                <mat-option *ngFor="let question of (questions | async)" [value]="question.description" [id]="question.id">
                    <span [innerHTML]="question.description | bold:searchControl.value"></span>
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
    <div class="row mt-12" fxLayoutAlign="center center">
        <button type="submit"  class="btn-search" mr-4 mat-button>Buscar</button>
        <button (click)="goTo('/ask')" class="btn-search" mat-button>Hacer Pregunta</button>
    </div>
</div>
