<ul class="comment-reply comment-reply-main">
    <li>
        <a (click)="comment()" class="comment-reply-link wpqa-reply-link" href="#">
        <i class="icon-reply"></i>Responder</a>
    </li>
    <li *ngIf="type == 'answer' && isUserLogged && !object.best">
        <a (click)="selectBestAnswer(true)" class="best_answer_a" href="#" title="Seleccione como mejor respuesta">
            <i class="icon-check"></i>Mejor respuesta
        </a>
    </li>
    <li *ngIf="type == 'answer' && isUserLogged && object.best">
        <a (click)="selectBestAnswer(false)" class="best_answer_a" href="#" title=" Cancelar como mejor respuesta">
            <i class="icon-cancel"></i>Cancelar mejor respuesta
        </a>
    </li>
    <li class="clearfix last-item-answers"></li>
</ul>
<div id="showComment" *ngIf="showComment" class="comment-respond" style="display: block;">
    <h3 class="section-title">Responder a {{ object.user.name + ' ' + object.user.lastName }}
        <div class="wpqa-cancel-link cancel-comment-reply">
            <a (click)="cancelComment()" id="cancel-comment-reply-link"
               href="#">Cancelar respuesta.</a>
        </div>
    </h3>
    <div class="page-layout carded inner-scroll" fxLayout="row wrap">
        <form id="commentform" fxFlex [formGroup]="form" class="post-section comment-form answers-form"><p class="comment-login"> Logged in as <a
            class="comment-login-login" href="#"><i
            class="icon-user"></i>mjabascal@sitrans.transnet.cu</a>
            <a class="comment-login-logout"
              
               title="Log out of this account"><i
                class="icon-logout"></i>Log out</a></p>

            <div class="mt-12 mat-form-field-wrapper mat-form-field-appearance-outline">
                <editor
                    apiKey="858m2n8uwwpiztcmwtbe5yemwtwl7qyggevh1ez09iv2z6zp"
                    [formControl]="form.controls.description"
                    class="mat-elevation-z1"
                    [init]="{
                    icons: 'material',
                    skin: 'borderless',
                    plugins: 'quickbars',
                    menubar: 'false',
                    branding: false,
                    min_height: 100,
                    language: 'es'
                }">
                </editor>

            </div>

            <button (click)="makeComment()" type="link" [disabled]="!form.valid" mat-raised-button color="accent" class="mt-24 submit-button button-default" aria-label="PUBLICAR SU PREGUNTA">
                PUBLICAR SU PREGUNTA
            </button>
        </form>
    </div>

  
</div>