<div id="forgot-password" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="forgot-password-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="./assets/images/logos/icon-white.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bienvenido a Viajando Preguntas!
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
         
        </div>

    </div>

    <div id="forgot-password-form-wrapper" fusePerfectScrollbar
         [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="forgot-password-form">

            <div class="logo" fxHide.gt-xs>
                <img src="./assets/images/logos/icon-white.png">
            </div>

            <div class="title">RECUPERAR CONTRASEÑA</div>

            <form name="forgoPasswordForm" [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onSubmit()">

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                       Correo es requerido
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                       Por favor entre un email válido
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    ENVIAR
                </button>

            </form>

           
              <div class="register" fxLayout="column" fxLayoutAlign="center center">
                  <span class="text mb-4">¿Ya recibistes el correo electrónico con la nueva contraseña??</span>
                  <a class="link" (click)="goToSignUp()">Inicia Sesión.</a>
              </div>

        </div>
    </div>
</div>
