<div class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent pt-12 pl-12">
            <div fxLayout="row" fxLayoutAlign="start center">
                <h2 class="m-0">Consejos:</h2>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <h5 class="mb-4 ml-4 mt-4">Asegúrate de que tu pregunta no se haya formulado antes.</h5>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <h5 class="mb-4 ml-4 mt-0">Haz que tu pregunta sea consisa.</h5>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <h5 class="mb-4 ml-4 mt-0">Revisa la gramática y la ortografía.</h5>
            </div>
        </div>

        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 pt-24">
                <span class="mat-title">Redacta tu pregunta</span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                     <form class="mat-card mat-elevation-z4 p-20" fxLayout="column" fxLayoutAlign="start"
                      fxFlex="1 0 auto" name="form" [formGroup]="form">
                    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>¿Cuál es tu pregunta?</mat-label>
                            <input matInput formControlName="question" placeholder="Comienza tu pregunta con &quot;Qué&quot;, &quot;Cómo&quot;, &quot;Cuánto&quot;, etc.">
                            <mat-icon matSuffix class="disabled-text">question_answer</mat-icon>
                            <mat-error>Debes realizar una pregunta!</mat-error>
                        </mat-form-field>

                    </div>

                         <div class="mt-32" fxLayout="row" fxLayoutAlign="center center">
                             <button (click)="goBack()" class="mr-24" mat-raised-button  type="button">
                                 Cancelar
                             </button>
                             <button (click)="onSubmit()" mat-raised-button  type="button" color="accent">
                                 Añadir pregunta
                             </button>
                         </div>

                </form>
                </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>