<article
    class="article-question article-post clearfix question-with-comments answer-question-not-jquery question-vote-image discoura-not-credential question-type-normal post-118 question type-question status-publish hentry question-category-language question_tags-english question_tags-language"
    itemprop="mainEntity" itemscope="" itemtype="https://schema.org/Question">
    <div class="single-inner-content">
        <div class="question-inner">
            <div class="question-image-vote">
                <div class="author-image author__avatar author-image-42 author_image_mouseover">
                    <a href="#">
                        <span class="author-image-span">
                            <img *ngIf="question.user.fileEncode" class="avatar avatar-42 photo"
                                alt="{{question.user.email}}" title="{{question.user.email}}" width="42" height="42"
                                [src]="fileEncode">
                            <img *ngIf="!question.user.fileEncode" class="avatar avatar-42 photo"
                                alt="{{question.user.email}}" title="{{question.user.email}}" width="42" height="42"
                                src="./assets/images/profile/user.png">
                        </span>
                    </a>
                </div>
                <reaction [type]="objectType.QUESTION" [object]="question" [template]="templateType.CELL"></reaction>
            </div>
            <!-- End question-image-vote -->
            <div class="question-content question-content-first">
                <header class="article-header">
                    <div class="question-header">
                        <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                            <a class="post-author" itemprop="url" href="#">
                                <span itemprop="name">{{question.user.name + ' ' + question.user.lastName}}</span>
                            </a>
                        </span>
                        <div class="post-meta">
                            <span class="post-date">Preguntado: <span class="date-separator"></span>
                                <a itemprop="url">
                                    <span
                                        class="entry-date published">{{ question.createdDate | date: 'medium' }}</span>
                                </a>
                                <span class="discy_hide" itemprop="dateCreated">
                                    {{question.createdDate | date: 'medium'}}
                                </span>
                                <span class="discy_hide" itemprop="datePublished">
                                    {{question.createdDate | date: 'medium'}}
                                </span>
                            </span>
                            <span class="byline">
                                <span class="post-cat"> En: <a href="javascript:void(0)"
                                        rel="tag">{{question.category.tablaDescription}}</a>
                                </span>
                            </span>
                        </div>
                    </div>
                </header>
                <div>
                    <h1 *ngIf="type == 'single'" class="post-title">
                        <span itemprop="name">{{ question.title }}</span>
                    </h1>
                    <h2 *ngIf="type == 'list'" class="post-title">
                        <a [routerLink]="'/question/'+question.id" style="cursor: pointer" class="post-title">
                            <span itemprop="name">{{ question.title }}</span>
                        </a>
                    </h2>
                </div>
            </div>
            <!-- End question-content-first -->
            <div class="question-not-mobile question-image-vote question-vote-sticky">
                <reaction [type]="objectType.QUESTION" [object]="question" [template]="templateType.WEB"></reaction>
                <!-- End question-sticky -->
            </div>
            <!-- End question-image-vote -->
            <div class="question-content question-content-second">
                <div class="wpqa_error"></div>
                <div class="wpqa_success"></div>
                <div class="post-wrap-content">
                    <div class="question-content-text">
                        <div class="all_single_post_content">
                            <div *ngIf="question.fileEncode" class="featured_image_question">
                                <a
                                   >
                                    <img [style.display]=" !voting ? 'list-item' : 'none'" alt="{{ question.title }}"
                                        width="260" height="185" [src]="question.fileEncode">
                                </a>
                            </div>
                            <div [innerHtml]="question.description" class="content-text" itemprop="text"></div>
                            <div class="clearfix"></div>
                            <div class="question-custom-links">
                                <div class="clearfix"></div>
                                <div class="pay-to-sticky-area wpqa-open-div wpqa_hide"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <!-- End all_single_post_content -->
                    </div>
                    <div class="tagcloud">
                        <div class="question-tags">
                            <i class="icon-tags"></i>
                            <a *ngFor="let tag of question.tags">{{ tag.tablaDescription }}</a>
                        </div>
                    </div>
                </div>
                <footer class="question-footer">
                    <ul class="footer-meta">
                        <li class="best-answer-meta">
                            <a [routerLink]="'/question/'+ question.id" [fragment]="'answer-'+ question.id"
                                style="cursor: pointer">
                                <i class="icon-comment"></i>
                                <span itemprop="answerCount"
                                    class="number discy_hide">{{question.answers.length }}</span>
                                <span class="question-span">{{question.answers.length }} Respuestas</span>
                            </a>
                        </li>
                        <li class="view-stats-meta">
                            <i class="icon-eye"></i> {{ question.visit }}
                            <span class="question-span">Vista</span>
                        </li>
                        <li class="question-followers question-followers-no-link">
                            <i class="icon-users"></i>
                            <span>{{ question.followers ? question.followers.length : 0 }}</span> Seguidores
                        </li>
                    </ul>
                </footer>
            </div>
            <!-- End question-content-second -->
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- End single-inner-content -->
    <div *ngIf="type == 'single'" class="question-adv-comments question-after-before question-has-comments">
        <div id="{{ 'answer-' + question.id }}" class="post-section comments-popup-share">
            <div class="post-inner">
                <div class="answers-tabs">
                    <h3 class="section-title">
                        <span>{{question.answers.length}} Respuestas</span>
                    </h3>
                    <div class="answers-tabs-inner">
                        <ul>
                            <li [ngClass]="{'active-tab': activeTab == TAB_NAGIGATION.OLDEST}">
                                <a (click)="sort(TAB_NAGIGATION.OLDEST)" href="#">Más Antiguo</a>
                            </li>
                            <li [ngClass]="{'active-tab': activeTab == TAB_NAGIGATION.VOTED}">
                                <a (click)="sort(TAB_NAGIGATION.VOTED)" href="#">Votado</a>
                            </li>
                            <li [ngClass]="{'active-tab': activeTab == TAB_NAGIGATION.RECENT}">
                                <a (click)="sort(TAB_NAGIGATION.RECENT)" href="#">Reciente</a>
                            </li>
                            <li [ngClass]="{'active-tab': activeTab == TAB_NAGIGATION.RANDOM}">
                                <a (click)="sort(TAB_NAGIGATION.RANDOM)" href="#">Aleatorio</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End answers-tabs-inner -->
                    <div class="clearfix"></div>
                </div>
                <!-- End answers-tabs -->
                <ol class="commentlist clearfix">
                    <li *ngFor="let answer of question.answers" class="comment even thread-even depth-1  comment">
                        <answer [answer]="answer"></answer>
                    </li>
                    <!-- #add-comments-## -->
                </ol>
                <!-- End commentlist -->
                <div class="clearfix"></div>
            </div>
            <!-- End post-inner -->
        </div>
        <!-- End post -->
      
    </div>
</article>
<!-- End article -->