<div class="the-main-inner float_l">
    <div class="clearfix"></div>
    <div id="row-tabs-home" class="row row-warp row-tabs">
        <div class="col col12">
            <div class="wrap-tabs">
                <div class="menu-tabs active-menu">
                    <ul class="menu flex menu-tabs-desktop">
                        <li >
                            <a >
                                Sobre nosotros
                            </a>
                        </li>                       
                    </ul>
                   
                </div>
            </div><!-- End wrap-tabs -->
        </div><!-- End col9 -->
    </div><!-- End row -->
<div class="post-content-text">
    <h4 style="text-align: center;">¿Qué es Viajando?<br>
       </h4>
    <p style="text-align: justify;">Es una aplicación desarrollada por la empresa SITRANS en colaboración con la empresa
        Viajero y que permite
        realizar consultas sobre la disponibilidad de pasajes para los diferentes destinos que se comercializan por las
        agencias de Viajero.</p>

       <p><b>Enlace:</b>
        https://www.apklis.cu/application/cu.sitrans.viajando</p>
   
    <h4 style="text-align: center;">¿Que necesito para usar la apk Viajando?<br>
    </h4>
    <p style="text-align: justify;">La aplicación Viajando es compatible con dispositivos Android cuya versión sea igual
        o superior a 4.4.2, por lo
        que los usuarios que deseen usarla deberán contar con uno.

        Además de esto, también deberán tener instalada la aplicación Transfermóvil en su última versión y tener las
        tarjetas asociadas correspondientes para la realización de los pagos.

        Teniendo esto, los usuarios deberán proceder a la descarga, instalación y registro de la aplicación para su
        posterior uso.

        También es necesario que tenga conexión a internet cuando vaya a hacer la reserva de pasajes. Puede ser a través
        de los datos móviles o mediante wifi.</p>
  
</div>

</div>