<div class="the-main-inner float_l">
    <div class="clearfix"></div>
    <div id="row-tabs-home" class="row row-warp row-tabs">
        <div class="col col12">
            <div class="wrap-tabs">
                <div class="menu-tabs active-menu">
                    <ul class="menu flex menu-tabs-desktop">
                        <li >
                            <a >
                                Sobre nosotros
                            </a>
                        </li>                       
                    </ul>
                   
                </div>
            </div><!-- End wrap-tabs -->
        </div><!-- End col9 -->
    </div><!-- End row -->
<div class="post-content-text">
    <h4 style="text-align: center;">Our mission is to share and grow<br>
        the world’s knowledge.</h4>
    <p>Discy mission is to share and grow the world’s knowledge. A vast amount of the knowledge that would be valuable
        to many people is currently only available to a few — either locked in people’s heads, or only accessible to
        select groups. We want to connect the people who have knowledge to the people who need it, to bring together
        people with different perspectives so they can understand each other better, and to empower everyone to share
        their knowledge for the benefit of the rest of the world.</p>
    <p>The potential of this is huge. If we can execute on our mission, we’re going to make a big impact on the world.
        We just need to get a smart group of people together that can get us there.</p>
    
    <h4 style="text-align: center;">Why Choosing Discy<br>
        Our Values</h4>
    <h6>1. Maximize long-term value</h6>
    <p>We are building a product that we hope lasts forever. We want to be a strong and independent engine, this long
        term focus guides all of the decisions we make.</p>
    <h6>2. Continuously learn and adapt</h6>
    <p>We value experimentation, metrics-driven decisions, and speed of iteration. We push to production with every
        commit so we launch as soon as work is done and learn as quickly as possible.</p>
    <h6>3. Execute</h6>
    <p>We value people who have great ideas but who also can quickly drive them all the way to bring their ideas into
        life.</p>
    <h6>4. Be direct and respectful</h6>
    <p>We expect and welcome constant feedback. We trust each other to be open and straightforward, so if you have
        anything in mind don’t hesitate to call us.</p>
</div>

</div>